global
   log 127.0.0.1 local0 notice
   maxconn 256

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  retries 3
  option redispatch
  timeout connect  5000
  timeout client  10000
  timeout server  10000
  
listen mcs-proxy
	mode http
	bind *:8443
	
	balance roundrobin
	option redispatch
	
	server mcs $MCS_HOST:8443 check

