global
   log 127.0.0.1 local0 notice
   maxconn 256

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  retries 3
  option redispatch
  timeout connect  5000
  timeout client  300000
  timeout server  300000
  
frontend https-in  
	bind *:8443
	mode tcp
	
	option tcplog
	
	#default_backend mcs
	
	use_backend mcs

backend mcs  
	mode tcp
	balance roundrobin

	server mcs $MCS_SVC:8443

listen drill-proxy
	mode http
	bind *:8047
	
	balance roundrobin
	option redispatch
	
	server drill ${DRILL_SVC}-statefulset-0.${DRILL_SVC}:8047

listen cldb-http
	mode tcp
	bind *:7221
	
	balance roundrobin
	option redispatch
	
	server mcs $MCS_SVC:7221

listen cldb-proxy
	mode tcp
	bind *:7222
	
	balance roundrobin
	option redispatch
	
	server mcs $MCS_SVC:7222
